:root {
  --circle-diameter: 50px;
}

html {
  background-color: #FFFF00;
  font-size: 62.5%;
  height: 100%;
}

body {
  align-items: center;
  animation: gradient 50s ease infinite;
  background: radial-gradient(#ffe12d, #3bacff, #ce7d95, #ce7d95);
  background-size: 500% 500%;
  color: #333;
  display: flex;
  justify-content: center;
  font-family: 'Lora', serif;
  font-size: 16px;
  min-height: 100%;
  padding: 0 3rem;
  text-align: center;
}

body.not-animated {
  animation: unset;
  background-size: 100% 100%;
}

.no-js .js {
  display: none;
}

p {
  font-size: 2rem;
}

.hidden {
  display: none;
}

button {
  background-color: #fff;
  border: none;
  padding: 3rem;
  z-index: 1;
}

#cursor {
  animation: pulse 1s ease infinite alternate;
  background-color: #fff;
  border-radius: 50%;
  height: var(--circle-diameter);
  left: -var(--circle-diameter);
  position: absolute;
  top: -var(--circle-diameter);
  transition: all 0.2s ease;
  width: var(--circle-diameter);
  z-index: 0;
}

@keyframes pulse {
  from {
    height: var(--circle-diameter);
    width: var(--circle-diameter);
  }
  to {
    height: calc(var(--circle-diameter) * 2);
    width: calc(var(--circle-diameter) * 2);
  }
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}